* {
    box-sizing: border-box;
}

body {
    margin: 0;
}
.nav {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 80px;
    background-color: rgb(45, 45, 45);
}
.nav-text {
    color: rgb(228, 228, 115);
    font-size: 30px;
    text-align: center;
}